:root {
  --primaryColor: #001A39;
  --secondColor: #2476FF;
  --thirdColor: #001630;
  --textColor: #765D6B;
  --titleColor: #251919;
  --bannerTextColor: #fff;
  --navTextColor: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

header {
  width: 100%;
  background-color: #001A39;
}

.containerNav {
  width: 1289px;
  margin: auto;
}

.nav {
  height: 90px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  padding-top: 15px
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  color: #FFF;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav > .nav-links > a {
  padding-top: 27px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  height: 90px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media screen and (max-width: 1289px) {
  .containerNav {
    width: 90%;
    overflow-x: visible;
  }
}

@media (max-width:1289px) {
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    width: 94.4%;
  }

  .nav > .nav-btn {
    padding-top: 15px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: var(--thirdColor);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    padding-left: 4%;
    position: absolute;
    display: block;
    width: 111.2%;
    background-color: #001A39;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 89px;
    left: -5.6%;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}