@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primaryColor: #001A39;
  --secondColor: #2476FF;
  --thirdColor: #001630;
  --textColor: #765D6B;
  --titleColor: #251919;
  --bannerTextColor: #fff;
  --navTextColor: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1289px;
  margin: auto;
}

header {
  background-color: #001A39;
  height: 90px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
  color: var(--navTextColor);
}

.links-nav ul{
  width: 523px;
  display: flex;
  justify-content: space-between;
}

.links-nav ul li {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 29px;
  list-style: none;
}

.Link-nav {
  height: 90px;
  text-decoration: none;
  color: var(--navTextColor);
}

.Link-nav:hover {
  border-bottom: 5px solid var(--navTextColor);
}

.logotipo {
  padding-top: 15px;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  padding-top: 29px;
  cursor: pointer;
  .line {
    width: 30px;
    height: 3px;
    background-color: var(--navTextColor);
    margin: 3px 0;
  }
}

.links-nav ul {
  list-style: none;
  display: flex;
}

.links-nav ul li {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 15px;
}

@media screen and (max-width: 1289px) {
  .links-nav ul {
    justify-content:left;
  }

  .Link-nav:hover {
    color: var(--secondColor);
    border: none;
  }

  .container {
    width: 90%;
  }

  .hamburger-menu {
    display: flex;
  }

  .links-nav ul {
    display: none;
  }

  .links-nav.active ul {
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    right: 0;
    background-color: #001A39;
    width: 300px;
    min-height: 100%;
    box-shadow: 0px 0px 100px 1000px rgba(0,0,0,0.3);
  }

  .hamburger-menu2 {
    flex-direction: column;
    cursor: pointer;
    padding-left: 220px;
    margin-bottom: 29px;
    .line {
      width: 30px;
      height: 3px;
      background-color: var(--navTextColor);
      margin-top: 6px;
    }
  }

}

@media screen and (max-width: 1289px) {
  .container {
    width: 90%;
  }
}